.video-box {
	width: 100%;
	height: 10rem;
	/* margin-top: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1%; */
	gap: 12px;
	padding: 12px;
	display: flex;
	flex-direction: row;
	user-select: none;
	/* overflow-x: auto;
	overflow-y: hidden; */
}

.video-item {
	flex: 1 1 0;
	max-width: 220px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-decoration: none;
}

.vid-cover-contain {
	position: relative;
	height: 70%;
	overflow: hidden;
}
.vid-cover-contain .vidcover {
	height: 100%;
	aspect-ratio: 16 / 9;
	border-style: solid;
	border-color: var(--yellow);
	border-width: 2px;
}

.vid-cover-contain .vid-time {
	position: absolute;
	right: 6px;
	bottom: 6px;
	background: var(--yellow);
	color: var(--black);
	font-size: 1rem;
	padding: 2px 5px;
	border-radius: 2px;
	line-height: 1;
	font-weight: 700;
}

.video-item .vidinfo {
	display: flex;
	flex-direction: column;
	width: 85%;
	align-items: flex-start;
	color: white;
	text-decoration: none;
}

.vidinfo .vidurls {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.vidurls p {
	margin: 0;
	padding: 0;
	animation: none;
	transition: none;
}

.video-item:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.vid-cover-contain:hover .vidcover {
	border-color: var(--pink);
}
.vid-cover-contain:hover .vid-time {
	background-color: var(--pink);
	color: white;
}

.vidurls a:hover {
	color: var(--cyan);
}
