@old/
tasks.md
desktop.ini

# Hide index media (not ready yet)
media/*.html
media/*/*.html
media/*/*/*.html
media/*/*/*/*.html
media/*/*/*/*/*.html
media/*/*/*/*/*/*.html

# Show expecific files
!media/gradients/index.html
!media/fonts/fonts.html