/**
 * ☆=========================================☆
 * Notation.css - Style for common note elements.
 * ☆=========================================☆
*/

/* Native */
blockquote {
	margin: 0;
	background-color: var(--bg-color-t6);
	border-left-style: solid;
	border-left-color: var(--yellow);
	border-left-width: 1px;
	padding-left: 1%;
}

pre {
	color: var(--cute-pink);
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--cyan);
}

a {
	color: var(--green);
	text-decoration: underline;
	cursor: pointer;
}

a.exclusive {
	content: '☆ ';
	color: var(--strong-pink);
	text-decoration: underline;
	cursor: pointer;
}

a.old {
	color: var(--dead-green);
}

/* Classes */
.overcyan {
	color: var(--bg-color);
	width: fit-content;
}

.overyellow {
	background-color: var(--yellow);
	color: var(--bg-color);
	width: fit-content;
}

.overpink {
	color: var(--bg-color);
	width: fit-content;
}

.overgreen {
	background-color: var(--green);
	color: var(--bg-color);
	width: fit-content;
}

.overcute {
	position: relative;
	color: var(--white);
	width: fit-content;
	display: inline-block;
	z-index: 1;
	margin: 0;
}

.overcute::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--pink);
	height: 100%;
	width: 0;
	animation: markerSweep 1s ease-out forwards;
	z-index: -1;
}

@keyframes markerSweep {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
