/**
 * ☆=========================================☆
 * root.css - Imports and variables for all styles!
 * ☆=========================================☆
*/

@import url('../fonts/fonts.css');
@import url('./Notation.css');
@import url('./effectsystem.css');

:root {
	/* Basic Colors */
	--bg-color: #160b20;
	--bg-color-t1: rgba(22, 11, 32, 0.1);
	--bg-color-t3: rgba(22, 11, 32, 0.3);
	--bg-color-t6: rgba(22, 11, 32, 0.6);

	--box-color: #91176883;
	--box-color-hover: #911768c0;
	--box-color-selected: #911768ff;

	--green: #8ff370;
	--dead-green: #447435;
	--pink: #971717;
	--neon-purple: #9118be;
	--soft-purple: #7f377f;
	--soft-light-purple: #d37bd3;
	--neon-purple-light: #e1a7e1;
	--cute-pink: #ffa3bf;
	--strong-pink: #ff00d4;
	--yellow: #00ffea;
	--dead-yellow: #f39200;
	--cyan: #ffee00;
	--cyan-dead: #695a00;

	--random-1: #2e1e88;
	--random-color-1: rgb(255, 255, 255);
	--random-2: #8ff370;
	--random-color:2 var(--black);
	--random-3: #ffffff;
	--random-color-3: var(--white);

	--white: #ffffff;
	--black: #000000;

	/* History of colors
	--v1-accent1: #db347a; Pink
	--v1-accent2: #ffd000; Yellow
	--v1-cyan: #00ffe7; Cyan
	-----
	--v2-accent1: #8ff370; Light-Green
	--v2-accent2: #ff80a6; Cute Pink
	--v2-accent3: #ff00d4; Strong Pink
	--v2-accent4: #ffc400; Yellow
	*/
	/* Fonts */
	--MainFont: 'SourGummy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-size-base: 16px;
	--line-height-base: 1.5;
	--spacing-unit: 8px;

	/* Audio Note */
	--audionote-color: #1f38b3;
	--audionote-border-color: var(--pink);
	--audionote-image: url('../../audio/cover/sweetlittlehearts.png');
	--audionote-text-color: var(--white);

	/* Background & Images */
	--bg-img: url('../images/background/new/flower1905b08dcccdb7b8e72dff05001f7315.jpg');

	/* Project Colors */
	--fractal-p: #4714ff;
	--bubbleplay-p: #ac50c3;
	--bubbleplay-s: #fefefe;
	--oceanboard-p: #e43967;
	--oceanboard-s: #9b2a48;
	--downsrc-p: #ff7f27;
	--downsrc-s: #c05d1b;
	--sparky-p: #13085a;
	--sparky-s: #3c194b;
	--lasagna-p: #fff5f2;
	--lasagna-s: #ffb13b;
	--orianaterminal-p: #fc6cff;
	--orianaterminal-s: #d3926b;
	--aurelin-p: #6c82ff;
	--lma-p: #a62164;
	--lma-s: #0e3f44;
	--simplyprivate-p: #330824;
	--simplyprivate-s: #aa2fba;
	--instance-pink:#a248a4;
	--instance-green: #62be54;
	--instance-blue: #4384ab;
	--instance-cyan: #40ac94;
	--starl-white: #ffffff;
	--starl-accent: #B039E4;
}

:root.dark-audionote {
	--audionote-text-color: var(--black);
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: var(--bg-color-t3);
}
::-webkit-scrollbar-thumb {
	background-color: var(--green);
	border: 3px solid var(--bg-color);
}

* {
	scrollbar-width: auto;
	scrollbar-color: var(--green) var(--bg-color);
}

html {
	scroll-behavior: smooth;
	font-size: var(--font-size-base);
	font-family: var(--MainFont);
	line-height: var(--line-height-base);
	box-sizing: border-box;
	background-color: black;
}

::selection {
	background-color: var(--green);
	color: var(--black);
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--bg-color);
	background-image: var(--bg-img);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	margin: 0;
	filter: blur(5px);
	opacity: 0.4;
	z-index: -1;
	overflow: hidden;
	overflow-y: auto;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-color-t1);
	overflow-x: hidden;
	font-family: 'SourGummy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: var(--white);
	overflow: hidden;
	font-size: 1rem;
}

.hidden {
	opacity: 0;
	transform: translateY(8px) scale(0.995);
	pointer-events: none;
	height: 0;
	overflow: hidden;
	transition: all 280ms ease;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.marg0{
	margin: 0;
}