@font-face {
	font-family: SourGummy;
	src: url(./SourGummy/SourGummy-VariableFont.ttf);
}

@font-face {
	font-family: cursive;
	src: url(./Cursive/Cursive.ttf);
}

@font-face {
	font-family: honk;
	src: url(./honk/honk.ttf);
}

@font-face {
	font-family: Dosis;
	src: url(./Dosis/Dosis.ttf);
}

@font-face {
	font-family: Jersey10;
	src: url(./Jersey10/Jersey10.ttf);
}

@font-face {
	font-family: Outfit;
	src: url(./Outfit/Outfit.ttf);
}

@font-face {
	font-family: Quicksand;
	src: url(./Quicksand/Quicksand.ttf);
}

@font-face {
	font-family: Rubik;
	src: url(./Rubik/Rubik.ttf);
}

@font-face {
	font-family: SourceCodePro;
	src: url(./SourceCodePro/SourceCodePro.ttf);
}

@font-face {
	font-family: WorkSans;
	src: url(./WorkSans/WorkSans.ttf);
}


@font-face {
	font-family: Poppins;
	src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: Inter;
	src: url(./Inter/Inter.ttf);
}

@font-face {
	font-family: MarkerGothic;
	src: url(./LXGWMarkerGothic/LXGWMarkerGothic.ttf);
}

@font-face {
	font-family: Barriecito;
	src: url(./Barriecito/Barriecito-Regular.ttf);
}

.arial {
	font-family: Arial, Helvetica, sans-serif;
}
.console {
	font-family: 'Courier New', Courier, monospace;
}
.inter {
	font-family: 'Inter', sans-serif;
}
.sourgummy {
	font-family: 'SourGummy', cursive;
}
.dosis {
	font-family: 'Dosis', sans-serif;
}
.outfit {
	font-family: 'Outfit', sans-serif;
}
.poppins {
	font-family: 'Poppins', sans-serif;
}
.quicksand {
	font-family: 'Quicksand', sans-serif;
}
.rubik {
	font-family: 'Rubik', sans-serif;
}
.sourcecodepro {
	font-family: 'SourceCodePro', monospace;
}
.worksans {
	font-family: 'Work Sans', sans-serif;
}
.jersey10 {
	font-family: 'Jersey10', sans-serif;
}
.lxgwmarkergothic {
	font-family: 'LXGWMarkerGothic', cursive;
}
.barriecito {
	font-family: 'Barriecito', cursive;
}
.honk {
	font-family: 'Honk', cursive;
}
