/*
 * ☆=========================================☆
 * Index page of global assets
 * ☆=========================================☆
*/

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%; height: 100%;
}

.itemtype{
    background-color: cyan;
    width: 30rem; height: 30rem;
}

