@media (min-width: 701px) {
	body {
		display: flex;
		flex-direction: row;
		background-color: transparent;
	}

	.left {
		width: 40%;
		display: flex;
		flex-direction: column !important;
	}

	.left a {
		display: none;
	}
	.right {
		width: 60%;
	}

	.track {
		width: 90% !important;
	}

	img {
		max-width: 100%;
		min-width: 90%;
		border-radius: 12px;
	}

	.head-left,
	.head-right {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start !important;
		width: 100% !important;
			max-width: 80%;
	}
}

@media (max-width: 700px) {
	.track {
		width: 90% !important;
	}
}
body {
	overflow-y: auto;
}

blockquote {
	margin-left: 5px;
	padding-left: 10px;
	color: #ffffff93;
	font-size: 0.8rem;
}

h3 {
	margin-bottom: 2px;
}

p {
	margin: 0;
	font-size: 0.8rem;
	color: #ffffffaa;
}

.track-info {
	flex: 1;
}

.track {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 10px;
	width: 50%;
	margin-left: 2%;
}

.cover {
	width: 75px;
	aspect-ratio: 1 / 1;
	background: var(--cover);
	background-size: cover;
	background-position: center;
	image-rendering: pixelated;
	flex-shrink: 0;
	border-radius: 4px;
}

audio {
	width: 100%;
	height: 30px;
}

.artwork {
	border-radius: 5px;
}

.left {
	display: flex;
	flex-direction: row;
	gap: 2%;
}

.head-left {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.head-right {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-right: 5%;
}

.head-right img {
	aspect-ratio: 1 / 1;
	max-width: 100%;
}
