li::before{
    content: "↳ ";
    color: var(--pink);
}

.difv{
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 10vh;
}

.difv ul{
    margin: 0;
    padding: 0;
}

.references, .referenced {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    padding: 2%;
}

.references{
    border-right: 2px dashed var(--pink);
}