@media (max-width: 851px) {
	.container h1 {
		font-size: 1.25rem;
	}

	.content {
		flex-direction: column;
		padding: 1%;
	}

	.item {
		padding: 1%;
		width: 90%;
        border-width: 2px;
	}

	.item .title {
		font-size: 1rem;
	}
}
